.specifications {
  padding-top: 95px;
  padding-bottom: 33px;
  position: relative;
  background-color: #e2e1e2;
  z-index: -1;

  @media (max-width: $tablet) {
    padding-top: 20px;
  }

  &__heading {
    text-align: center;
  }
  &__title {
    @media (max-width: $tablet) {
      padding-top: 20px;
    }
    @media (max-width: $mobile-L) {
      font-size: 19px;
      line-height: 1;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    position: relative;

    @media (max-width: $laptop) {
      padding: 15px;
    }
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__block2 {
    margin-top: 23px;
  }
  &__item {
    width: 231px;
    background-color: #ffffff;
    padding: 8px 14px 14px 14px;
    border-radius: 10px;
    margin-bottom: 8px;
    position: relative;

    @media (max-width: $tablet) {
      width: 455px;
      padding: 4px 4px 4px 4px;
    }
    @media (max-width: $mobile-L) {
      width: 285px;
    }
  }

  &__item-title {
    font: 600 16px/1.5 $main-font;
    letter-spacing: 0.005em;

    @media (max-width: $tablet) {
      text-align: center;
    }
  }

  &__item-text {
    font-size: 15px;
    line-height: 1.46;
    letter-spacing: 0.01em;
    color: #000000;

    @media (max-width: $tablet) {
      text-align: center;
    }
  }
  &__background{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

      @media (max-width: $tablet) {
        display: none;
      }
  }
}

.specifications__svg {
  position: absolute;
  left: 230px;

  @media (max-width: $laptop) {
    display: none;
  }
}